body {
    margin: 1px;
    padding: 1px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 15px solid black;
}

.header {
    text-align: center;
    padding: 15px;
    flex: 1;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    font-size: 18px;
}

.skills {
    margin: 10px;
    padding: 5px;
    text-align: center;
    flex: 1;
    border-bottom: rgba(0, 0, 0, 0.26) 2px solid;
}

.skills ul {
    list-style-type: none;
}

li {
    color: rgb(70, 70, 70);
    font-size: 17px;
}

.experience {
    background-color: rgb(203, 233, 247);
    flex: 100%;
    margin: 30px;
    padding: 10px;
    border-bottom: rgba(0, 0, 0, 0.26) 2px solid;

}

.education {
    flex:100%;
    margin: 30px;
    padding: 10px;
    background-color: rgb(203, 233, 247);
    border-top: rgba(0, 0, 0, 0.26) 2px solid;
}






